@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/modern';

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
	height: 100%;
}
